@import 'tailwindcss';

@layer base {
	html {
		scroll-behavior: smooth;
	}

	img {
		-webkit-user-drag: none;
	}

	button,
	input:where([type='button'], [type='reset'], [type='submit']),
	::file-selector-button {
		cursor: pointer;
	}
}

@theme {
	--font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system, sans-serif;
}

@layer components {
	.section {
		width: 100%;
		max-width: min(calc(100vw - 1rem), 52rem);
	}

	.squircle {
		border-radius: var(--radius-2xl);

		@supports (corner-shape: squircle) {
			corner-shape: squircle;
			border-radius: 99rem;
		}
	}
}
