@import 'tailwindcss';

@layer base {
	html {
		scroll-behavior: smooth;
		font-size: 14px;

		@media (width > 480px) {
			font-size: 16px;
		}
	}

	img {
		-webkit-user-drag: none;
	}

	button,
	input:where([type='button'], [type='reset'], [type='submit']),
	::file-selector-button {
		cursor: pointer;
	}

	a[target='_blank'] {
		cursor: alias;
	}

	strong {
		font-weight: unset;
	}
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system, sans-serif;
	--font-newsreader: var(--font-newsreader), ui-monospace, SFMono-Regular, Menlo, monospace;
}

@theme inline {
	--color-bg: var(--bg);
	--color-surface: var(--surface);
	--color-fg: var(--fg);
	--color-muted: var(--muted);
	--color-border: var(--border);
}

@layer base {
	:root {
		color-scheme: light;
		--bg: var(--color-stone-50);
		--surface: white;
		--fg: var(--color-stone-800);
		--muted: var(--color-stone-500);
		--border: --alpha(var(--color-stone-900) / 10%);
	}

	.dark {
		color-scheme: dark;
		--bg: hsl(24 3% 10%);
		--surface: hsl(24 3% 15%);
		--fg: var(--color-stone-100);
		--muted: var(--color-stone-400);
		--border: --alpha(var(--color-stone-50) / 10%);
	}
}

@layer components {
	.section {
		width: 100%;
		max-width: min(calc(100vw - 4rem), 40rem);
	}

	.bold-icon {
		path {
			stroke-width: 2px;
		}
	}

	.squircle {
		border-radius: var(--radius-2xl);

		@supports (corner-shape: squircle) {
			corner-shape: squircle;
			border-radius: 3rem;
		}
	}
}
